.heading{
    color: white;
    text-align: left;
    margin-left: 10%;
    margin-top: 3%;
}

.balance-heading{
    color :white;
    text-align: left;
    margin-left: 20%;
    margin-top: 10%;
}

.balance-value{
    color :white;
    text-align: left;
    margin-left: 22%;
    margin-top: 10%;
}