
.left{
    width: 60%;
    color: white;
}

.mobile-input{
    height: 20px;
    opacity: 1;
}

.btn-signin{
    margin-right: 4%;
    width: 8rem;
    height: 3rem;
    background: #384BF5;
    border-radius: 4px;
    color: white;
    border: none;
    max-width: 100%;

}