
.left{
    width: 60%;
    color: white;
}

.mobile-input{
    height: 40px;
    background-color: #234C54;
    opacity: 0.6;
    border-radius: 3px;
    border :none;
}

.btn-signin{
    margin-right: 4%;
    width: 8rem;
    height: 3rem;
    background: #384BF5;
    border-radius: 4px;
    color: white;
    border: none;
    max-width: 100%;

}